<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head th:fragment="head">
    <meta charset="UTF-8"/>
    <title th:text="${title}">RiverBend YarnBombers</title>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"/>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>


</head>
<body>
    <nav th:fragment="navigation">
        <a href="/views/biography">About Our Members</a> |
        <a href="/gallery">Gallery</a> |
        <a href="/blog">Blog Posts</a> |
        <a href="/contact">Contact Information</a> |
        <a href="/login">Login</a> |
        <a href="/views">Home</a>

    </nav>
</body>
</html>